body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #ccc;
    font-size: 16px;
    margin: 30px;
}

ul {
    list-style-type: none;

}

li a {
    color: white;
}

li a:hover {
    color: lightgreen;
}

#intro p:first-letter {
    font-size: 32px;
}

#intro p {
    text-align: justify;
}

#intro a {
    color: green;
}

#intro a:hover {
    text-decoration: overline;
    color: darkorange;
}

#intro a:visited {
    color: lightpink;
}