:root {
    --color-principal: #ccc;
    --color-fons: #222;

    --font-base: Arial, sans-serif;
}

body {
    font-family: var(--font-base);
    background-color: var(--color-fons);
    color: var(--color-principal);
    font-size: 16px;
    margin: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
}


li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: lightgreen;
}

.articleIA {
    display: flex;
    gap: 20px;
}

#intro p:first-letter {
    font-size: 32px;
}

#intro a {
    color: green;
}

#intro a:hover {
    text-decoration: overline;
    color: darkorange;
}

#intro a:visited {
    color: lightpink;
}

p {
    text-align: justify;
}

h1 {
    text-transform: capitalize;
}

h2 {
    letter-spacing: 1px;
    text-transform: uppercase;
}




@media (width < 600px) {
    p {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }
}

@media (600px <=width <=1280px) {
    p {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }
}

@media (width > 1280px) {
    p {
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }
}